<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <title>Detalle juego | Racoon Store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts\fontawesome-free-6.6.0-web\css\all.min.css">
    <link rel="stylesheet" href="../../assets/styles.css"/>
    <link rel="stylesheet" href="../../assets/detalle-juego.css"/>
</head>
<body class="roboto-regular">
    <header>
        <h3>Racoon Store</h3>  
        <ul>
            <li><a href="../../../index.html">Inicio</a></li>
            <li><a href="../users/ingreso.html">Ingresar</a></li>
            <li><a href="../users/registro.html">Registrarse</a></li>
        </ul>      
    </header>
    <main>
        <h2>Dogcky</h2>
        <section class="game-section">
            <div class="juego-detalle">
                <div class="juego-imagenes">
                    <div class="tarjeta-juego-contenedor">
                        <div class="tarjeta-juego-imagen">
                            <img src="../../assets/images/juego-destacado.jpeg" >
                        </div>
                    </div>
                    <div class="tarjeta-juego-contenedor">
                        <div class="tarjeta-juego-imagen">
                            <img src="../../assets/images/juego-destacado.jpeg" >
                        </div>
                    </div>
                </div>   
                <article class="descripcion-juego">
                    <h3>Resumen</h3>
                    <div class="contenedor-descripcion">
                        <p>En Dogcky deberás encontrar la forma de rescatar a tus peludos animales de las garras de los insolentes empleados de la perrera y escapar de ellos.</p>
                    </div>
                </article> 
            </div>
            <div class="juego-compra">
                <div class="juego-compra-precio">$18.89</div>
                <div class="juego-compra-comandos">
                    <a href="#" class="button button-primary button-border">Comprar</a>
                    <a href="carrito.html" class="button button-secondary button-border">Añadir al carrito</a>
                </div>
                <div class="grilla">
                    <div class="grilla-item">
                        <div class="grilla-item-campo">Desarrolladora</div>
                        <div class="grilla-item-valor">Racoon Games</div>
                    </div>
                    <div class="grilla-item">
                        <div class="grilla-item-campo">Fecha de lanzamiento</div>
                        <div class="grilla-item-valor">09/10/2022</div>
                    </div>
                    <div class="grilla-item">
                        <div class="grilla-item-campo">Plataforma</div>
                        <div class="grilla-item-valor">Android</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>